html {
    background: url(/images/bg.png);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: url(/images/gradient.png) repeat-x;
}
a.button{
    padding:4px 10px !important;
}
.additem {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    background: white;
    line-height: 40px;
    text-align: center;
}

.videos {
    padding: 50px 0 220px;
}

.videowrapper {
    margin: 0 auto;
    text-align: center;
}

.videocontainer {
    display: inline;
}

.videocontainer object {
    padding: 5px;
    display: inline-block;
}

.header, #private-area {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header {
    text-align: center;
}

#private-area {
    height: 220px;
    top: auto;
    bottom: 0;
    border-top: 1px solid #d9d9d9;
    background: #b2b2b2;
    -webkit-box-shadow: #333 0 -1px 0;
    -moz-box-shadow: #333 0 -1px 0;
    box-shadow: #333 0 -1px 0;
    behavior: url(/PIE.htc);
    margin: 0;
}
.private-wrapper{
    margin:0 auto;
    width: 940px;
    padding:5px 0;
}

.dropdown {
    position: relative;
    margin: -17px auto 0;
    padding: 20px 0 0;
    width: 580px;
    background: #b2b2b2;
    height: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: #222 0 2px 2px;
    -moz-box-shadow: #222 0 2px 2px;
    box-shadow: #222 0 2px 2px;
    behavior: url(/PIE.htc);
}

#logo {
    vertical-align: middle;
    padding: 10px 10px 0 0;
}

#setup {
    bottom: 4px;
    position: absolute;
    right: 6px;
}
.toolbar{
    height:30px;
    margin-bottom:5px;
    color:white;
    font-size:20px;
    line-height:30px;
}
#name-and-publisher {
    float: left;
    width: 200px;
}

#myOwnCamera {
    height: 200px;
}

#members-list {
    float: left;
    width: 200px;
    margin-left: 20px;
}

#chat_submit{
    left: 7px;
    position: relative;
    top: -7px;
}
#chat-room {
    float: left;
    width: 460px;
    margin-left:20px;
}

#chat {
    height: 121px;
    background: white;
    overflow: auto;
    padding: 8px 8px 0;
}

#chat .name {
    clear: left;
    padding-right:3px;
}
#chat .name, #chat .date {
    float: left;
    color: #666;
    font-size:12px;
}
 #chat .date{
     color:#999;
     font-size:10px;
 }
.chat-wrapper{
    background: #73A6FF;
    padding:2px;
    height:161px;
}
#chat .msg {
    font-size:12px;
    margin-bottom: 2px;
    padding-left: 10px;
    float: left;
}

#chat_message {
    width: 80%;
    border:0 none;
    height:30px;
    margin: 2px 0 0;
    padding: 0 8px;
}

#members {
    background: white;
    padding: 8px;
    height: 145px;
    overflow:auto;
    border:2px solid #73a6ff;
}

#buttons {
    text-align: right;
    line-height:24px;
}
#status {
    color:#666;
    font-size:10px;
}
.blockMsg {
    border:0 none !important;
    background-color:transparent !important;
}
#menu{
    padding: 20px;
    background: #b2b2b2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: #222 0 2px 2px;
    -moz-box-shadow: #222 0 2px 2px;
    box-shadow: #222 0 2px 2px;
    behavior: url(/PIE.htc);
    line-height: 1.3;
}
#menu .submit{
    text-align:right;
    line-height:1;
}
#room{
    height:300px;
    overflow:auto;
    background-color:#999;
    padding:8px;
}
#menu .big{
    font-size:16px;
    color:white;
}
#room li{
    padding-bottom:5px;
    padding-top:5px;
    border-bottom:1px solid #666;
    border-top:1px solid #b3b3b3;
}
#room li.first{
    border-top:0 none;
}
#room li.last{
    border-bottom:0 none;
}
#room .descr{
    font-size:12px;
    padding:5px 0 5px 30px;
}
#room-name{
    font-size:20px;
    color:white;
}
.clear {
    clear: both;
}