html {
    background: url(/images/bg.png);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: url(/images/gradient.png) repeat-x;
}
a.button{
    padding:4px 10px !important;
}
.additem {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    background: white;
    line-height: 40px;
    text-align: center;
}

.videos {
    padding: 50px 0 230px;
}

.videowrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.videocontainer {
    display: inline;
}

.videocontainer object {
    padding: 5px;
    display: inline-block;
}

.header, #private-area {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header {
    text-align: center;
}

#private-area {
    height: 280px;
    top: auto;
    bottom: 0;
    border-top: 1px solid #d9d9d9;
    background: #b2b2b2;
    -webkit-box-shadow: #333 0 -1px 0;
    -moz-box-shadow: #333 0 -1px 0;
    box-shadow: #333 0 -1px 0;
    behavior: url(/PIE.htc);
    margin: 10px 0 0;
}

.dropdown {
    position: relative;
    margin: -10px auto 0;
    padding: 10px 0 0;
    width: 940px;
    background: #b2b2b2;
    height: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: #222 0 2px 2px;
    -moz-box-shadow: #222 0 2px 2px;
    box-shadow: #222 0 2px 2px;
    behavior: url(/PIE.htc);
}

#logo {
    vertical-align: middle;
    padding: 10px 10px 0 0;
}

#triangle {
    bottom: 10px;
    position: absolute;
    right: 20px;
}

#name-and-publisher {
    float: left;
    width: 20%;
    margin-right: 1%;
}

#myOwnCamera {
    height: 200px;
}

#members-list {
    float: left;
    width: 15%;
    margin-right: 1%;
}

#chat-room {
    float: left;
    width: 60%;
}

#chat {
    height: 153px;
    background: white;
    width: 100%;
    overflow: auto;
    padding: 10px 10px 0;
}

#chat .name {
    clear: left;
}

#chat .name, #chat .date {
    float: left;
    color: gray;
}

#chat .msg {
    margin-bottom: 10px;
    padding-left: 10px;
    float: left;
}

#chat_message {
    width: 80%;
}

#myName, #members-no, #buttons {
    height: 30px;
}

#members {
    background: white;
    padding: 10px;
    height: 200px;
}

#buttons {
    text-align: right;
}
#status {
    border: 1px solid;
    clear: both;
    margin: 10px 20px 10px 0;
    padding: 10px;
}

.clear {
    clear: both;
}