<script type="text/javascript" charset="utf-8">
    var apiKey = <%= @api_key %>;
    var sessionId = '<%= @session.session_id %>';
    var token = '<%= @token %>';

    var session;
    var publisher;
    var subscribers = {};

    // Un-comment either of the following to set automatic logging and exception handling.
    // See the exceptionHandler() method below.
    // TB.setLogLevel(TB.DEBUG);
    // TB.addEventListener("exception", exceptionHandler);

    if (TB.checkSystemRequirements() != TB.HAS_REQUIREMENTS) {
        alert('Minimum System Requirements not met!');
    } else {
        session = TB.initSession(sessionId);	// Initialize session

        // Add event listeners to the session
        session.addEventListener('sessionConnected', sessionConnectedHandler);
        session.addEventListener('sessionDisconnected', sessionDisconnectedHandler);
        session.addEventListener('connectionCreated', connectionCreatedHandler);
        session.addEventListener('connectionDestroyed', connectionDestroyedHandler);
        session.addEventListener('streamCreated', streamCreatedHandler);
        session.addEventListener('streamDestroyed', streamDestroyedHandler);

        // Connect to the session
        session.connect(apiKey, token);
    }

    //--------------------------------------
    //  LINK CLICK HANDLERS
    //--------------------------------------
    function connect() {
        $('#status').html('<span style="text-decoration: blink;">Connecting...</span>');
        session.connect(apiKey, token);
    }

    function disconnect() {
        session.disconnect();
        $('#status').html('Disconnected.');
        show('connectLink');
        hide('disconnectLink');
        <%- if @broadcaster -%>
            hide('publishLink');
            hide('unpublishLink');
        <%- end -%>
    }
    
    <%- if @broadcaster -%>
    function publish() {
        if (!publisher) {
            var name = $("#name").val();
            var html = "<div id='opentok_publisher'></div>";
            $("#myOwnCamera").html(html);

            var publisherProps = {
                name: name
            };
            // Pass the replacement div id to the publish method
            publisher = session.publish('opentok_publisher', publisherProps);
            show('unpublishLink');
            hide('publishLink');
        }
    }

    function unpublish() {
        if (publisher) {
            session.unpublish(publisher);
        }
        publisher = null;

        show('publishLink');
        hide('unpublishLink');
    }
    <%- end -%>

    //--------------------------------------
    //  OPENTOK EVENT HANDLERS
    //--------------------------------------

    function sessionConnectedHandler(event) {
        // Subscribe to all streams currently in the Session
        for (var i = 0; i < event.streams.length; i++) {
            addStream(event.streams[i]);
        }
        // Now possible to start publishing
        <%- if @broadcaster -%>
            $('#status').html('You can start publishing.');
        <%- else -%>
            $('#status').html('Connected.');
        <%- end -%>

        show('disconnectLink');
        <%- if @broadcaster -%>
            show('publishLink');
            hide('connectLink');
        <%- end -%>
    }

    function streamCreatedHandler(event) {
        // Subscribe to these newly created streams
        for (var i = 0; i < event.streams.length; i++) {
            addStream(event.streams[i]);
        }
    }

    function streamDestroyedHandler(event) {
        // This signals that a stream was destroyed. Any Subscribers will automatically be removed.
        // This default behaviour can be prevented using event.preventDefault()
        for (var i = 0; i < event.streams.length; i++) {
            var id = event.streams[i].streamId;
            $(".item").filter(function(index){
                return $(this).attr('data-id') == id;
            }).hide();
        }
    }

    function sessionDisconnectedHandler(event) {
        // This signals that the user was disconnected from the Session. Any subscribers and publishers
        // will automatically be removed. This default behaviour can be prevented using event.preventDefault()
        publisher = null;

        show('connectLink');
        hide('disconnectLink');
    }

    function connectionDestroyedHandler(event) {
        // This signals that connections were destroyed
    }

    function connectionCreatedHandler(event) {
        // This signals new connections have been created.
    }

    /*
     If you un-comment the call to TB.setEventLister(), above, OpenTok
     calls the exceptionHandler() method when exception events occur.
     You can modify this method to further process exception events.
     If you un-comment the call to TB.setLogLevel(), above, OpenTok
     automatically displays exception event messages.
     */
    function exceptionHandler(event) {
        alert("Exception: " + event.code + "::" + event.message);
    }

    //--------------------------------------
    //  HELPER METHODS
    //--------------------------------------

    function addStream(stream) {
        // Check if this is the stream that I am publishing. If not
        // we choose to subscribe to the stream.
        if (stream.connection.connectionId == session.connection.connectionId) {
            return;
        }
        var divId = stream.streamId;	// Give the replacement div the id of the stream as its id
        var html = "<div class='item' data-id='" + divId + "'><div class='name'>" + stream.name + "</div><div id='" + divId + "'></div></div>";
        var new_item = $("#myCameras").append(html);
        subscribers[stream.streamId] = session.subscribe(stream, divId);
    }

    function show(id) {
        $("#" + id).show();
    }

    function hide(id) {
        $("#" + id).hide();
    }


</script>
<div id="links">
  <a href="#" onclick="javascript:connect()" id="connectLink" style="display:none;">Connect</a>
  <a href="#" onclick="javascript:disconnect()" id="disconnectLink" style="display:none;">Disconnect</a>
  <%- if @broadcaster -%>
      <a href="#" onclick="javascript:publish()" id="publishLink" style="display:none;">Publish</a>
      <a href="#" onclick="javascript:unpublish()" id="unpublishLink" style="display:none;">Unpublish</a>
<%- end -%>
  <div id="status" class="smalltype"><span style="text-decoration: blink;">Connecting...</span></div>
  <div class="clear"></div>
</div>
<div id="myCameras">
  
</div>
