<div id="chat-room">
  <div class="h2">Chat room: <%= @session.session_title %></div>

  <div class="description"><%= @session.description %></div>
  <%=
      if @session.multiplexer
          render :partial => 'multiplexor'
      else
          render :partial => 'regular'
      end
  %>
</div>
